body {
    background-color: #f7e7e8;
    color: #333333;
  }
  
  .navbar {
    background-color: #b9718c;
  }
  
  .navbar-brand {
    color: #ffffff;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .hero {
    background-color: #ffffff;
    padding: 100px 0;
  }
  
  .hero h1,
  .hero p {
    color: #333333;
  }
  
  .btn-primary {
    background-color: #b9718c;
    border-color: #b9718c;
  }
  
  .btn-primary:hover {
    background-color: #933c58;
    border-color: #933c58;
  }
  
  #about,
  #skills,
  #projects,
  #contact {
    background-color: #ffffff;
    padding: 100px 0;
  }
  
  h2.display-4 {
    color: #b9718c;
  }
  
  .bg-light {
    background-color: #f7e7e8;
  }
  
  footer {
    background-color: #333333;
    color: #ffffff;
  }
  
  .form-control {
    background-color: #ffffff;
    border-color: #b9718c;
    color: #333333;
  }
  
  img:focus {
    background-color: #ffffff;
    border-color: #933c58;
    color: #333333;
  }

   @keyframes motion {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #skills .col-lg-4 {
    animation: motion 1s ease-in-out;
  }
  
  
